In [64]:
import os
import pandas as pd
from IPython.display import display

In [65]:
# Import population data from https://data.worldbank.org/indicator/SP.POP.TOTL
population_df = pd.read_csv(os.path.join('dataset', 'API_SP.POP.TOTL_DS2_en_csv_v2_3052518.csv'), skiprows=4, index_col=False)
population_df = population_df.drop(columns=['Indicator Name', 'Indicator Code'])
display(population_df.head(5))

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ARU,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,57702.0,58044.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,AFE,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,152752671.0,156876454.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,10174840.0,10399936.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,AFW,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,109701811.0,112195950.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,ANG,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,5781305.0,5774440.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0

In [66]:
pivoted_population = population_df.melt(id_vars=["Country Name", "Country Code"],
                            var_name="Year",
                            value_name="Population")
pivoted_population = pivoted_population.sort_values(by=['Country Name', 'Year'])
pivoted_population.Population = pivoted_population.Population.astype('Int64')
pivoted_population.Year = pivoted_population.Year.astype(int)
display(pivoted_population)

      Country Name Country Code  Year  Population
2      Afghanistan          AFG  1960     8996967
271    Afghanistan          AFG  1961     9169406
540    Afghanistan          AFG  1962     9351442
809    Afghanistan          AFG  1963     9543200
1078   Afghanistan          AFG  1964     9744772
...            ...          ...   ...         ...
15329     Zimbabwe          ZIM  2016    14030338
15598     Zimbabwe          ZIM  2017    14236599
15867     Zimbabwe          ZIM  2018    14438812
16136     Zimbabwe          ZIM  2019    14645473
16405     Zimbabwe          ZIM  2020    14862927

[16409 rows x 4 columns]

In [67]:
# Save to parquet
pivoted_population.to_parquet(os.path.join('dataset', 'populations.parquet'))